{% block form_row %}
{% spaceless %}
    <p>
        <label>{{ form_label(form) }}</label>
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </p>
{% endspaceless %}
{% endblock form_row %}